.slick-active {
    color: red !important;
    opacity: 0.3;
}
.slick-active.slick-current{
	opacity: 1;
}
#BarraDe-N{
	background: white !important;
	padding: 15px 0;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}
#BarraDe-N img{
	width: 40px;
	height: 40px;
}
#BarraDe-N a{
	color: #3e5055;
	font-size: 15px;
	margin-left: 10px;
	transition: all 0.3s;
}
#BarraDe-N a:hover{
	color: #388da8;
	transition: all 0.3s;
}
#BarraDe-N h2{
	color: #3e5055;
}
#BarraDe-N .get-btn{
	padding: 6px 20px;
	background: #388da8;
	border-radius: 50px;
	color: white;
	transition: all 0.3s;
}
#BarraDe-N .get-btn:hover{
	background: #559db4;
	color: white;
	transition: all 0.3s;
}
#BarraDe-N .dropdown-a a{
	margin-left: 0;
}
.logoPrincipal {
    font-weight: bolder;
    font-size: 30px !important;
}
#bannerPrincipal{
	background-image: url(assets/img-fondo.jpg);
	background-size: cover;
	padding: 150px 0;

}
#bannerPrincipal h2{
	color: #3e5055;
	font-size: 50px;
	font-weight: 20px !important;
}
#bannerPrincipal p{
	color: #73747a;
	font-size: 20px;
}
#bannerPrincipal span{
	color: #388da8;
}
#bannerPrincipal .btn-1{
	background: #388da8;
	border-radius: 50px;
	color: white;
	font-size: 15px;
	transition: all 0.5s;
}
#bannerPrincipal .btn-1:hover{
	background: #559db4;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}
#bannerPrincipal .btn-2 i{
	color: #388da8;
}
#bannerPrincipal .btn-2 b{
	color: #3e5055;
	vertical-align: super;
	transition: all 0.5s;
}
#bannerPrincipal .btn-2 b:hover{
	color: #388da8;
	transition: all 0.5s;
}
#bannerPrincipal .img-principal{
	padding: 0 220px;
}
#seccion a{
	text-decoration: none;
}
#seccion{
	background: #f3f8fa;
	padding: 40px 0;
}
#seccion h5{
	color: #3e5055;
	transition: all 0.5s;
}
#seccion .col-md-4:hover h5{
	color: #388da8;
	transition: all 0.5s;
}
#seccion p{
	color: #3e5055;
	font-size: 14px;
}
#seccion i{
	background: #cde2ea;
	padding: 20px;
	color: #388da8;
	transition: all 0.5s;
}
#seccion .col-md-4:hover i{
	background: #388da8;
	color: white;
	transition: all 0.5s;
}
#Unleashing .who{
	color: #3d43487a;
}
#Unleashing h2{
	font-weight: 700;
	padding-bottom: 15px;
	color: #3e5055;
}
#Unleashing i{
	font-size: 30px;
	color: #388da8;
	font-weight: 200;
}
#Unleashing a{
	background: #388da8;
	color: white;
	line-height: 25px;
	padding: 12px 24px;
	transition: all 0.5s;
	letter-spacing: 1px;
}
#Unleashing a:hover{
	background: #559db4;
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}
#Unleashing a i{
	color: white;
	font-size: 15px;
	transition: 0.5s;
}
#Unleashing a:hover i{
	transform: translatex(8px);
	transition: 0.5s;
}
#Unleashing img{
	border-radius: 10px;
}
#Features{
	padding-top: 60px;
	color: #3e5055;
}
.line{
	width: 50px;
    display: block;
    height: 3px;
    background: #388da8;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
    position: relative;
}
#Features a{
	color:  #3e5055;
	text-decoration: none;
}
#Features .modi{
	border-radius: 10px;
	transition: all 0.3s;
}
#Features .modi:hover{
	background: #eff6f8;
	transition: all 0.3s;
}
#Features a i{
	padding: 10px 13px;
    background: white;
    border-radius: 50px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
#Features img{
	border-radius: 10px;
}
#Corporis img{
	border-radius: 10px;
}
#Corporis .provident{
	background: #f5f9fa;
	margin-left: 100px;
	border-radius: 10px;
	padding: 30px;
}
#Corporis .provident h4{
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 10px;
	color: #3e5055;
}
#Corporis .provident p{
	color: #3d4348b0;
}
.provident a{
	background: #388da8;
	color: white;
	border-radius: 8px;
	transition: all 0.5s;
}
.provident a:hover{
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	background: #559db4;
	transition: all 0.5s;
	color: white;
}
#Neque .provident{
	background: #f5f9fa;
	margin-right: 100px;
	border-radius: 10px;
	padding: 30px;
	color: #3e5055;
}
#Neque .provident h4{
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 15px;
}
#Neque .provident p{
	color: #3d4348b0;
}
#Neque i{
	color: #388da8;
	padding-right: 10px;
}
#Neque img{
	border-radius: 10px;
}
#Services a{
	text-decoration: none;
}
#Services{
	background: #f9fbfc;
}
#Services .iconoazul{
	color: #0dcaf0;
	padding: 20px 20px;
	background: #e6fafd;
	border: 1px solid #0dcaf0;
	border-radius: 10px;
}
#Services .a-azul{
	color: #0dcaf0;
}
#Services .icononaranja{
	color: #fd7e14;
	padding: 20px 20px;
	background: #fff2e7;
	border: 1px solid #fd7e14;
	border-radius: 10px;
}
#Services .a-naranja{
	color: #fd7e14;
}
#Services .iconoverde{
	color: #20c997;
	padding: 20px 20px;
	background: #e8f9f4;
	border: 1px solid #20c997;
	border-radius: 10px;
}
#Services .a-verde{
	color: #20c997;
}
#Services .iconorojo{
	color: #e33041;
	padding: 20px 20px;
	background: #fce7e5;
	border: 1px solid #e33041;
	border-radius: 10px;
}
#Services .a-rojo{
	color: #e33041;
}
#Services .iconomorado{
	color: #6610f2;
	padding: 20px 20px;
	background: #efe7fe;
	border: 1px solid #6610f2;
	border-radius: 10px;
}
#Services .a-morado{
	color: #6610f2;
}
#Services .iconorosa{
	color: #f3268c;
	padding: 20px 20px;
	background: #fee9f3;
	border: 1px solid #f3268c;
	border-radius: 10px;
}
#Services .a-rosa{
	color: #f3268c;
}
#Services h2{
	color: #3e5055;
}
#Services p{
	color: #3e5055;
}
#Services .necesidades{
	background: white;
	border-radius: 10px;	
	border: 1px solid #e2e3e4;
	transition: all 0.3s;
	cursor: pointer;
}
#Services .necesidades:hover {
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
	transition: all 0.3s;
}
#Services .necesidades:hover h4 {
	color: #3e5055;
	transition: all 0.3s;
}
#Services .necesidades h4{
	color: #6f7c80;
	transition: all 0.3s;
}
#Services .necesidades:hover p{
	color: #3e5055;
	transition: all 0.3s;
}
#Services .necesidades p{
	color: #3d4348b0;
	margin-bottom: 10px;
	transition: all 0.3s;
}
#Enim{
	color: #3e5055;
}
#Enim i{
	color: #388da8;;
}
.font-pequeño{
	font-size: 14px;
}
#Pricing{
	color: #3e5055;
}
#Pricing .plan{
	background: #f7fbfc;
	border-radius: 10px;
	padding: 47px 40px 40px 40px;
}
#Pricing .popular{
	background: #388da8;
	border-radius: 5px;
	color: white;
	margin-left: auto;
	width: 80px;
}
#Pricing .precio{
    color: #388da8;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}
#Pricing .precio h2{
	color: #388da8;
	font-size: 50px;
	font-weight: 700;
}
#Pricing .precio h6{
	margin-top: auto;
	color: #a2a6a9;
	font-size: 20px;
}
#Pricing a{
	display: flex;
	background: #388da8;
	padding: 10px 80px;
	color: white;
}
#Pricing i{
	color: #059652;
}
#Questions{
	color: #3e5055;
}
#Questions button{
	border: 0px;
	background: transparent;
	color: #3e5055;
	transition: all 0.5s;
}
#Questions button:hover{
	color: #388da8;
	transition: all 0.5s;
}
#Questions .card{
	border-width: 1px;
    border-color: #d3e5ec;
    background: #f9fbfc;
    padding-top: 10px;
    padding-bottom: 10px;
}
#Questions .card-header{
	background: transparent;
	border: 0px;
}
#Contact{
	color: #3e5055;
}
#Contact .informacion{
	padding: 20px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-align: center;
}
#Contact .informacion input{
    color: #388da8;
}
#Contact a{
	background: #388da8;
	border-radius: 50px;
	color: white;
	padding: 8px 30px;
}
#Contact i{
	padding: 14px 17px;
    background: white;
    border-radius: 50px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    color: #388da8;
    margin-bottom: 10px;
}
#QuickStart{
	color: #3e5055;
	background: #f9fbfc;
}
#QuickStart a{
	color: #3d4348b0;
	text-decoration: none;
}
#QuickStart i{
	padding: 10px 11px;
	border: 1px solid  #3d4348b0;
	border-radius: 50px;
	transition: all 0.5s;
}
#QuickStart .face{
	padding: 10px 14px !important;
}
#QuickStart i:hover{
	color: #388da8;
	border: 1px solid #388da8;
	transition: all 0.5s;
}
#QuickStart .BootstrapMade{
	color: #388da8;
	transition: all 0.5s;
}
#QuickStart .BootstrapMade:hover{
	color: #388da8c2;
	transition: all 0.5s;
}
#QuickStart .suscripcion{
	padding: 8px 25px;
	background: #388da8;
	color: white;
	border-radius: 50px;
}
.logoPrincipal {
    font-weight: bolder;
    font-size: 30px !important;
}
.logoPrincipal span{
    color: red;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '\f104';
}
[dir='rtl'] .slick-prev:before
{
    content: '\f104';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '\f105';
}
[dir='rtl'] .slick-next:before
{
    content: '\f105';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;

}
#Testimonials{
	background: #f9fbfc;
}
.stars{
	color: #ffc107;
	margin-bottom: 20px;
}
.contenedorTestimonios img{
	width: 90px;
	height: 90px;
	margin-bottom: 10px;
}
.contenedorTestimonios p{
	color: #3e5055;
	font-size: 16px;
}
.contenedorTestimonios h4{
	color: #3e5055;
}
.contenedorTestimonios h6{
	color: #3e5055;
}
.testimonio .card{
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
